body {
    margin: 0;
    padding: 0;
}

/* Style the Banner */
header {
    background-image: url("images/TardisInSpace.png");
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}
header section {
    padding: 1rem;
    color: whitesmoke;
}